<%= render 'partials/navbar-dark' %>


<main>
  <div class="container">
    <div class="about">
      <div class="row">
        <div class="col-md-12">
          <h1 class="about__header">Web & App Development</h1>
          <h2 class="about__subheader">We enjoy using these technologies:</h2>
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <div class="tech">
                <%= image_tag 'wordpress.svg', class: 'tech__img' %>
                <%= image_tag 'rails.svg', class: 'tech__img' %>
                <%= image_tag 'html5.png', class: 'tech__img' %>
                <%= image_tag 'react.svg', class: 'tech__img-spin' %>
                <%= image_tag 'meteor.svg', class: 'tech__img' %>
                <!-- <%= image_tag 'node.svg', class: 'tech__img' %> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="next_step">
      <div class="row">
        <div class="col-md-12">
          <h1 class="next_step__header">Awesome! You have taken the first step.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
          <p class="next_step__sub">Now fill out the form below with your name, contact info, and a description of the your project and we will be in touch.</p>
          <form class="info_form">
            <input type="text" placeholder="Name" class="info_form__input" />
            <input type="text" placeholder="Email" class="info_form__input" />
            <input type="text" placeholder="Phone" class="info_form__input" />
            <textarea placeholder="Tell us about your project" class="info_form__textarea"></textarea>
            <button class="info_form__button">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
</main>


<%= render 'partials/footer' %>
