<%= render 'partials/navbar-dark' %>


<main>
  <div class="container">
    <div class="next_step">
      <div class="row">
        <div class="col-md-12">
          <h1 class="next_step__header">Awesome! You have taken the first step.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
          <p class="next_step__sub">Now fill out the form below with your name, contact info, and a description of the your project and we will be in touch.</p>
          <%= form_for @contact do |f| %>
            <%= f.text_field :name, class: 'info_form__input', placeholder: 'Name' %>
            <%= f.text_field :email, class: 'info_form__input', placeholder: 'Email' %>
            <%= f.text_field :phone, class: 'info_form__input', placeholder: 'Phone' %>
            <%= f.text_area :message, class: 'info_form__textarea', placeholder: 'Tell us about your project' %>
            <%= f.submit 'Send Message', class: 'info_form__button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>


<%= render 'partials/footer' %>
