<%= render 'partials/navbar-dark' %>

<main>
  <div class="container">
    <div class="work">
      <div class="row">
        <div class="col-md-12">
          <h1 class="about__header">Some of our work</h1>

          <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 iphone">
            <div class="iphone">
              <div class="iphone__image">
                <%= image_tag 'iphone.png', class: 'iphone__img' %>
              </div>
              <div class="iphone__content">
                <h2 class="iphone__title">Let's Go Ride</h2>
                <p class="iphone__description">Let'Go Ride is a cycling app designed with simplicity in mind. It was developed with a focus on a small set of metrics that the average rider is most concerned with, such as distance, time, speed, average speed, and elevation gained.</p>
                <%= image_tag 'app_store.png', class: 'app_store' %>
                <p class="web__tech"><span>Technology:</span> iOS, Swift</p>
              </div>
            </div>
          </div>



          <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 iphone">

            <div class="web_top">
              <div class="web__display">
                <%= image_tag 'iam_sample.png', class: 'web__img' %>
              </div>
              <div class="web__content">
                <h2 class="web__title">I Am Worship Church</h2>
                <p class="web__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="web__link"><%= link_to 'View Website', '/', class: 'web__link-a' %></p>
                <p class="web__tech"><span>Technology:</span> Wordpress, Twitter Bootstrap</p>
              </div>
            </div>

            <div class="web_alt">
              <div class="web__display">
                <%= image_tag 'untie_sample.png', class: 'web__img' %>
              </div>
              <div class="web_alt__content">
                <h2 class="web__title">Untie the Knot</h2>
                <p class="web__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="web__link"><%= link_to 'View Website', '/', class: 'web__link-a' %></p>
                <p class="web__tech"><span>Technology:</span> Ruby on Rails, Twitter Bootstrap</p>
              </div>
            </div>

            <div class="web_bottom">
              <div class="web__display">
                <%= image_tag 'mercy_sample.png', class: 'web__img' %>
              </div>
              <div class="web__content">
                <h2 class="web__title">Mercy Fellowship</h2>
                <p class="web__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="web__link"><%= link_to 'View Website', '/', class: 'web__link-a' %></p>
                <p class="web__tech"><span>Technology:</span> Wordpress, Twitter Bootstrap</p>
              </div>
            </div>




          </div>



          <!-- <%= image_tag 'mercy_sample.png', class: 'web' %>
          <%= image_tag 'untie_sample.png', class: 'web' %> -->


        </div>
      </div>
    </div>
  </div>
</main>

<%= render 'partials/footer' %>
