<%= render 'partials/navbar-dark' %>

<main>
  <div class="container">
    <div class="work">
      <div class="row">
        <div class="col-md-12">
          <h1 class="about__header">Some of our work</h1>
          <!-- <h2 class="about__subheader">We enjoy using these technologies:</h2>
          <div class="tech">
            <%= image_tag 'wordpress.svg', class: 'tech__img' %>
            <%= image_tag 'rails.svg', class: 'tech__img' %>
            <%= image_tag 'html5.png', class: 'tech__img' %>
            <%= image_tag 'react.svg', class: 'tech__img-spin' %>
            <%= image_tag 'meteor.svg', class: 'tech__img' %>
            <%= image_tag 'node.svg', class: 'tech__img' %>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</main>

<%= render 'partials/footer' %>
