<!DOCTYPE html>
<html>
  <head>
    <title>Bigmoondev</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  </head>

  <body>
    <% if notice %>
    <div id="notice_wrapper">
      <p class="notice"><%= notice %></p>
    </div>
    <% elsif alert %>
      <div id="alert_wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>

    <script>
      $(document).ready(function() {
        setTimeout(function() {
          $('#notice_wrapper').fadeOut("slow", function() {
            $(this).remove();
          })
        }, 3500);
      });
    </script>
  </body>
</html>
